[id*="tab-"] > div:nth-child(1) > div > div > div > div{
  
  color: green;
  
  
}
.foot{
  
  background-color: grey;
}




body > div.container-fluid > div.row > div.col-sm-3.well{
 
 background-color: lightgreen;
  
  border-radius: 20px;
  
  background-image: url('WWW/ele.jpg');
  background-size: 100px 200px;
  
  box-shadow: 20px 20px 30px;

  background-position: top;
  
  
  
}
.head{
  background-position: left ;
   background-image: url("leaf.png");
   background-size: 100px 100px;
   height: 90px ;
   color: black;
   text-align: center;
   box-shadow: 7px 10px 30px    ;
   color:yellow;
   border-radius: 20px;
  font-size: 20px;
  background-color: lightgreen;
  background-repeat: no-repeat;
  
  cursor: url("l.png"),url("leaf.png"),url("WWW/ele.jpg") ,auto;
  
  

  
}


#tab-4707-2 > div:nth-child(1) > div > div > div > div > div.selectize-input.items.full.has-options.has-items > div{
  
  background-color: red;
  
}
#p > div{
  
  box-shadow: -20px 20px 30px;
  
}

#l{
  
  box-shadow: -20px 20px 30px;
}
body{
  
color:#000 !important; 
background-color:#a1d9ef !important
}

[id*="ui-tab"]{
  
  
  opacity: .8;
  
  
  background-color: yellow;
}